<?xml version="1.0"?>
<config>
    <modules>
        <Firegento_ClockworkProvider>
            <version>0.1.0</version>
        </Firegento_ClockworkProvider>
    </modules>
    <global>
        <rewrite>
            <firegento_clockworkprovider>
                <from><![CDATA[#^/__clockwork/#]]></from>
                <to><![CDATA[/clockwork/index/show/id/]]></to>
            </firegento_clockworkprovider>
        </rewrite>
        <helpers>
            <firegento_clockworkprovider>
                <class>Firegento_ClockworkProvider_Helper</class>
            </firegento_clockworkprovider>
        </helpers>
    </global>
    <frontend>
        <routers>
            <firegento_clockworkprovider>
                <use>standard</use>
                <args>
                    <module>Firegento_ClockworkProvider</module>
                    <frontName>clockwork</frontName>
                </args>
            </firegento_clockworkprovider>
        </routers>
        <events>
            <controller_action_predispatch>
                <observers>
                    <clockwork>
                        <class>Firegento_ClockworkProvider_Model_Observer</class>
                        <method>initByRequest</method>
                    </clockwork>
                </observers>
            </controller_action_predispatch>
            <controller_front_send_response_after>
                <observers>
                    <clockwork>
                        <class>Firegento_ClockworkProvider_Model_Observer</class>
                        <method>saveByRequest</method>
                    </clockwork>
                </observers>
            </controller_front_send_response_after>
        </events>
    </frontend>
</config>